.WishlistCover{
    background-color: rgb(240, 240, 240) !important;
    min-height: 100vh;
}
.cartItems{
    min-height:5rem !important;
    max-height:30rem !important;
    overflow:auto !important;
}
.svgColor{
    fill: #030d18 !important;
}
.updateCountItem{
    width:15%;
}